.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
form {
  width: 500px;
}

form label {
  font-size: 16px;
  font-weight: bold;
}

.inputDiv {
  margin-bottom: 10px;
}

input,
select {
  width: 100%;
  padding: 8px 7px;
  font-size: 16px;
  border: 2px solid #4a5568;
  background-color: #2d3748;
  color: white;
  margin: 5px 0px;
  outline: none;
  border-radius: 10px;
}

input::placeholder {
  color: lightgray;
}
input:focus {
  border-color: lightblue;
}

.button {
  width: 100%;
  padding: 8px 8px;
  margin: 16px 0px;
  background-color: green;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 20px;
  border: none;
}
.clickedButton {
  width: 100%;
  padding: 8px 8px;
  margin: 16px 0px;
  background-color: rgb(69, 115, 69);
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 20px;
  border: none;
  opacity: 0.5;
}
.input-error {
  border-color: rgb(225, 102, 102);
}
.error {
  color: rgb(108, 65, 65);
  font-size: 12px;
  text-align: left;
}
.checkbox {
  display: flex;
  justify-content: flex-start;
}
.checkbox input {
  width: auto;
  margin-right: 10px;
}
.toHomePage {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 8px 8px;
  cursor: pointer;
}
.toHomePage:hover {
  color: lightblue;
}
